#root {
  --background: white;
  --foreground: black;
  --secondary: rgb(230, 230, 230);
  --topBarHeight: 45px;
  margin: 0 auto;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  #root {
    --foreground: white;
    --background: black;
    --secondary: rgb(34, 34, 34);
  }
}

* {
  color: var(--foreground);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  --background: white;
  --foreground: black;
  --secondary: rgb(230, 230, 230);
}
.dark {
  --foreground: white;
  --background: black;
  --secondary: rgb(34, 34, 34);
}

#sideBar {
  width: fit-content;
  background-color: var(--secondary);
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border-right: 2px ridge black;
  gap: 20px;
  padding: 10px;
  flex-direction: column;
}

#center {
  height: calc(100% - var(--topBarHeight));
  display: flex;
  flex-direction: row;
}

#drawingArea {
  flex: 1;
  height: 100%;
}

button {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  border-width: 0;
}

button:hover {
  background-color: rgba(156, 156, 156, 0.123);
}

a {
  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
a:hover {
  background-color: rgba(156, 156, 156, 0.123);
}

#settingsBar {
  background-color: var(--background);
  color: var(--foreground);
  border-left: 2px ridge black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
#saveImageButton {
  color: rgb(47, 39, 206);
  font-weight: bold;
  border: 1px solid var(--foreground);
}

#topBar {
  width: 100%;
  height: 45px;
  min-height: 20;
  padding: 6px 0px 6px 0px;
  background-color: var(--secondary);
  border-bottom: 2px ridge black;
  flex-direction: row;
  display: flex;
  align-items: "center";
  vertical-align: middle;
  gap: 20px;
}

#brushSizeInput {
  border-radius: 10px;
  border: 1px solid var(--foreground);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  gap: 5px;
}
#brushSizeInput div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: var(--foreground);
  align-content: center;
  text-align: center;
  vertical-align: middle;
  min-width: 38px;
  font-size: 14px;
  color: var(--background);
  width: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--foreground);
}
button {
  padding: 5px;
}

input {
  border-radius: 0;
  color: var(--foreground);
  background-color: transparent;
  text-align: right;
  border: none;
  height: 100%;
  width: fit-content;
}
input:focus {
  outline: none;
}

.secondary-container {
  background-color: var(--secondary);
}

.colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.colorPicker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
.colorPicker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
